In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('TLKM.JK.csv')
data.head()

         Date    Open    High     Low   Close    Adj Close    Volume
0  2021-12-28  4080.0  4130.0  4050.0  4090.0  3945.680176  39443300
1  2021-12-29  4100.0  4130.0  4080.0  4080.0  3936.033203  25596100
2  2021-12-30  4130.0  4130.0  4040.0  4040.0  3897.444580  50575100
3  2022-01-03  4060.0  4180.0  4050.0  4180.0  4032.504395  65937900
4  2022-01-04  4180.0  4200.0  4150.0  4170.0  4022.857422  42984700

In [3]:
data.shape

(247, 7)

In [ ]:
data.